<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>

  </servers>
  <mirrors>
  </mirrors>
  <profiles>
    <profile>
      <repositories>
        <repository>
            <snapshots>
             <enabled>false</enabled>
            </snapshots>
            <id>maven-public</id>
            <name>maven-public</name>
            <url>http://nexus.k2.net/repository/maven-public/</url>
        </repository>
		<repository>
            <snapshots>
             <enabled>false</enabled>
            </snapshots>
            <id>thirdparty</id>
            <name>thirdparty</name>
            <url>http://nexus.k2.net/repository/thirdparty/</url>
        </repository>
		<repository>
            <snapshots>
             <enabled>false</enabled>
            </snapshots>
            <id>ady-ent-release</id>
            <name>ady-ent-release</name>
            <url>http://nexus.k2.net/repository/ady-ent-release/</url>
        </repository>
		<repository>
            <snapshots>
             <enabled>true</enabled>
            </snapshots>
            <id>ady-ent-snapshot</id>
            <name>ady-ent-snapshot</name>
            <url>http://nexus.k2.net/repository/ady-ent-snapshot/</url>
        </repository>
		<repository>
           <snapshots>
             <enabled>false</enabled>
           </snapshots>
           <id>devops-release</id>
           <name>devops-release</name>
           <url>http://nexus.k2.net/repository/devops-release/</url>
		</repository>
        <repository>
           <snapshots>
             <enabled>false</enabled>
           </snapshots>
           <id>doob-release</id>
           <name>doob-release</name>
           <url>http://nexus.k2.net/repository/doob-release/</url>
		</repository>
		<repository>
           <snapshots>
             <enabled>true</enabled>
           </snapshots>
           <id>doob-snapshot</id>
           <name>doob-snapshot</name>
           <url>http://nexus.k2.net/repository/doob-snapshot/</url>
        </repository>
        <repository>
           <snapshots>
             <enabled>false</enabled>
           </snapshots>
           <id>kbrn-bs-release</id>
           <name>kbrn-bs-release</name>
           <url>http://nexus.k2.net/repository/kbrn-bs-release/</url>
		</repository>
		<repository>
           <snapshots>
             <enabled>true</enabled>
           </snapshots>
           <id>kbrn-bs-snapshot</id>
           <name>kbrn-bs-snapshot</name>
           <url>http://nexus.k2.net/repository/kbrn-bs-snapshot/</url>
        </repository>
        <repository>
           <snapshots>
             <enabled>false</enabled>
           </snapshots>
           <id>kkady-release</id>
           <name>kkady-release</name>
           <url>http://nexus.k2.net/repository/kkady-release/</url>
		</repository>
		<repository>
           <snapshots>
             <enabled>true</enabled>
           </snapshots>
           <id>kkady-snapshot</id>
           <name>kkady-snapshot</name>
           <url>http://nexus.k2.net/repository/kkady-snapshot/</url>
        </repository>
        <repository>
           <snapshots>
             <enabled>false</enabled>
           </snapshots>
           <id>ortak-altyapi-release</id>
           <name>ortak-altyapi-release</name>
           <url>http://nexus.k2.net/repository/ortak-altyapi-release/</url>
		</repository>
		<repository>
           <snapshots>
             <enabled>true</enabled>
           </snapshots>
           <id>ortak-altyapi-snapshot</id>
           <name>ortak-altyapi-snapshot</name>
           <url>http://nexus.k2.net/repository/ortak-altyapi-snapshot/</url>
        </repository>
        <repository>
           <snapshots>
             <enabled>false</enabled>
           </snapshots>
           <id>tbgth-release</id>
           <name>tbgth-release</name>
           <url>http://nexus.k2.net/repository/tbgth-release/</url>
		</repository>
		<repository>
           <snapshots>
             <enabled>true</enabled>
           </snapshots>
           <id>tbgth-snapshot</id>
           <name>tbgth-snapshot</name>
           <url>http://nexus.k2.net/repository/tbgth-snapshot/</url>
        </repository>
        <repository>
           <snapshots>
             <enabled>false</enabled>
           </snapshots>
           <id>tmap-release</id>
           <name>tmap-release</name>
           <url>http://nexus.k2.net/repository/tmap-release/</url>
		</repository>
		<repository>
           <snapshots>
             <enabled>true</enabled>
           </snapshots>
           <id>tmap-snapshot</id>
           <name>tmap-snapshot</name>
           <url>http://nexus.k2.net/repository/tmap-snapshot/</url>
        </repository>
      </repositories>
      <pluginRepositories>
         <pluginRepository>
           <snapshots>
             <enabled>false</enabled>
           </snapshots>
           <id>thirdparty</id>
           <name>thirdparty</name>
           <url>http://nexus.k2.net/repository/thirdparty/</url>
         </pluginRepository>
      </pluginRepositories>
      <id>nexus</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>nexus</activeProfile>
  </activeProfiles>
</settings>